* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background: rgba(229, 84, 115, 0.10);
}

/* banner part */
.banner {
    height: 100vh;
    padding: 0px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.banner-description {
    margin: 32px 0px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    border: 0;
    cursor: pointer;
}

/* featured flowers start  */
.featured-flowers,
.delivery,
.instagram,
.latest-deal {
    margin: 178px 316px 0px;
}

.section-title {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-flowers-text,
.hot-deals-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0px;
}

.featured-flowers-photo {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    max-width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.featured-flowers-display {
    max-width: 310px;
    height: 428px;
    padding: 20px;
}



.photo-name {
    text-decoration: underline;
    margin-top: 32px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.featured-flowers-container {
    display: flex;
    justify-content: space-around;
}

/* delivery section  */

.delivery {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 86px 175px;
}

.delivery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delivery-item img {
    width: 88px;
    height: 88px;
    margin-bottom: 24px;
}

.delivery-container {
    display: flex;
    justify-content: space-around;
}

/* delivery section end  */

/* hot deals section starts here  */
.hot-deals {
    margin: 128px 0px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deals-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
    margin: 0px 423px;
}

.off {
    color: #E55473;
}

.hot-deals-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram-photo-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* latest deals  */

.latest-deal {
    background-image: url("./images/Rectangle\ 9.png");
    height: 449px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.subscribe {
    display: flex;
    justify-content: center;
}

.email {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    padding-left: 22px;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    margin-right: 16px;
}