* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background: rgba(229, 84, 115, 0.10);
}

/* banner part */
.banner {
    height: 100vh;
    padding: 0px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.banner-description {
    margin: 32px 0px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    border: 0;
}